.container,
.navigation,
.title,
.main,
.related,
.ads,
.footer {
  border: black solid 1px;
}

.main p {
  margin: 0;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "navigation navigation" "title title" "main related" "ads ads" "footer footer";
  }

  .navigation {
    grid-area: navigation;
  }

  .title {
    grid-area: title;
  }

  .main {
    grid-area: main;
  }

  .related {
    grid-area: related;
  }

  .ads {
    grid-area: ads;
  }

  .footer {
    grid-area: footer;
  }

}

@media (min-width: 900px) {
  .container {
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-areas:
      "navigation title title" "navigation main related"
      "navigation ads ads" "navigation footer footer";

    height: 100%;
    row-gap: 1%;
  }
}





/* Flexbox layout */

/* .container {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: row;
}

.main p {
  margin: 0;
} */

/* Breakpoints at 600 & 900 */

/* @media (min-width: 600px) {

  .right {
    display: flex;
    width: 100%;
  }

  .main {
    flex-basis: 65%;
  }

  .related {
    flex-basis: 35%;
  }
}

@media (min-width: 900px) {} */