.container,
.navigation,
.title,
.main,
.related,
.ads,
.footer {
  border: black solid 1px;
}

.container {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: row;
}

.main p {
  margin: 0;
}

/* Breakpoints at 600 & 900*/

@media (min-width: 600px) {

  .right {
    display: flex;
    width: 100%;
  }

  .main {
    flex-basis: 65%;
  }

  .related {
    flex-basis: 35%;
  }
}

@media (min-width: 900px) {}